body {
    background-color: red;
}

.center {
    text-align: center;
    margin-top: 220px;
}

.centerbtn {
    background-color: green;
    height: 75px;
    width: 75px;
    position: absolute;
    top: 50%;
}

.no {
    left: 52%;
}

.yes {
    right: 52%;
}