body {
    background-color: red;
    background: url("res.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Righteous', cursive;
    text-shadow: #3CC47C 0 0 10px;
}

.blurBox::before {
    content: '';
    background: inherit;
    background-color: rgba(0, 0, 0, 0.726);
    filter: blur(6px);
    height: 300px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -150px;
    z-index: -1;
}

.center {
    text-align: center;
    margin-top: 220px;
}

.centerbtn {
    transition: all 0.2s;
    background-color: green;
    color: white;
    border: solid black;
    border-radius: 10px;
    font-weight: bold;
    height: 75px;
    width: 75px;
    position: absolute;
    top: 50%;
}

.no {
    left: 52%;
}

.yes {
    right: 52%;
}